<!DOCTYPE>
<html lang="zh-cn" data-scribe-reduced-action-queue="true">
<meta http-equiv="x-dns-prefetch-control" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<title>{{ site.title }}</title>
{% include head.html %}
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<div id="MathJax_Message" style="display: none;"></div>
{{content}}
{% include foot.html %}
</body>
</html>